# Note: This requires users to update the branch to create an envrionment from the branch they are
#   working on.
vivarium @ git+https://github.com/ihmeuw/vivarium@main
vivarium_public_health @ git+https://github.com/ihmeuw/vivarium_public_health@main
gbd_mapping>=4.0.0
click
jinja2
loguru
numpy
pandas
pyyaml
scipy
tables
vivarium_inputs[data]>=5.0.0
vivarium_cluster_tools @ git+https://github.com/ihmeuw/vivarium_cluster_tools@main
black==22.3.0
isort