# Note: This requires users to update the branch to create an envrionment from the branch they are
#   working on.
vivarium>=3.0.0
vivarium_public_health>=3.0.0
gbd_mapping>=4.0.0
click
jinja2
loguru
numpy
pandas
pyyaml
scipy
tables
vivarium_inputs[data]>=5.0.0
vivarium_cluster_tools>=2.0.0
black==22.3.0
isort
jupyterlab
matplotlib